<?xml version="1.0" encoding="UTF-8"?>
<config>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0 0"/>
    <metadata key="gcode_file" value=""/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="2"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0 0"/>
    <metadata key="gcode_file" value="Metadata/plate_2.gcode"/>
    <metadata key="thumbnail_file" value="Metadata/plate_2.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_2.png"/>
    <metadata key="top_file" value="Metadata/top_2.png"/>
    <metadata key="pick_file" value="Metadata/pick_2.png"/>
    <metadata key="pattern_bbox_file" value="Metadata/plate_2.json"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="3"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0 0"/>
    <metadata key="gcode_file" value=""/>
    <metadata key="thumbnail_file" value="Metadata/plate_3.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_3.png"/>
    <metadata key="top_file" value="Metadata/top_3.png"/>
    <metadata key="pick_file" value="Metadata/pick_3.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="4"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0 0"/>
    <metadata key="gcode_file" value=""/>
    <metadata key="thumbnail_file" value="Metadata/plate_4.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_4.png"/>
    <metadata key="top_file" value="Metadata/top_4.png"/>
    <metadata key="pick_file" value="Metadata/pick_4.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="5"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0 0"/>
    <metadata key="gcode_file" value=""/>
    <metadata key="thumbnail_file" value="Metadata/plate_5.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_5.png"/>
    <metadata key="top_file" value="Metadata/top_5.png"/>
    <metadata key="pick_file" value="Metadata/pick_5.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="6"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0 0"/>
    <metadata key="gcode_file" value=""/>
    <metadata key="thumbnail_file" value="Metadata/plate_6.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_6.png"/>
    <metadata key="top_file" value="Metadata/top_6.png"/>
    <metadata key="pick_file" value="Metadata/pick_6.png"/>
  </plate>
</config>
