<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.05.00.66"/>
  </header>
  <plate>
    <metadata key="index" value="2"/>
    <metadata key="extruder_type" value="0"/>
    <metadata key="nozzle_volume_type" value="0"/>
    <metadata key="printer_model_id" value="N2S"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="7145"/>
    <metadata key="weight" value="44.21"/>
    <metadata key="first_layer_time" value="145.317596"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="false"/>
    <metadata key="filament_maps" value="1 1 1 1 1"/>
    <metadata key="limit_filament_maps" value="0 0 0 0 0"/>
    <object identify_id="546" name="source.obj_A_B" skipped="false" />
    <filament id="2" tray_info_idx="GFA00" type="PLA" color="#E4BD68" used_m="4.98" used_g="15.09" used_for_object="true" used_for_support="false" group_id="0" nozzle_diameter="0.40" volume_type="Standard"/>
    <filament id="3" tray_info_idx="GFA01" type="PLA" color="#7D6556" used_m="9.17" used_g="29.13" used_for_object="true" used_for_support="false" group_id="0" nozzle_diameter="0.40" volume_type="Standard"/>
    <warning msg="bed_temperature_too_high_than_filament" level="3" error_code ="1000C001"  />
    <warning msg="not_support_traditional_timelapse" level="2" error_code ="10018003"  />
    <warning msg="not_support_traditional_timelapse" level="3" error_code ="1000C003"  />
    <layer_filament_lists>
      <layer_filament_list filament_list="2" layer_ranges="139 778" />
      <layer_filament_list filament_list="1" layer_ranges="0 138" />
    </layer_filament_lists>
  </plate>
</config>
